@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
main{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, #0b5796,#591bbd);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxauth{
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 550px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 1px 34px -10px rgba(0, 0, 0, 0.5);
}
.innerbox{
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.forms{
    position: absolute;
    width: 45%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: 1s ease-in-out;
}
.carousel{
    position: absolute;
    height: 100%;
    width: 55%;
    left: 45%;
    top: 0;
    background: #1d62c2;
    border-radius: 5px;
    transition: 1s ease-in-out;
    display: grid;
    grid-template-rows: auto 1fr;
    padding-bottom: 2rem;
    overflow: hidden;
}
form{
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: opacity 0.2s 0.4s;
}
form.signup{
    opacity: 0;
    pointer-events: none;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 50px;
    margin: 0.3rem;
    border-radius: 50%;
}
.logo h3{
    font-size: 1.1rem;
    margin-top: -9px;
    letter-spacing: -0.5px;
    color: #000;
}
.heading h2{
    font-size: 2rem;
    font-weight: 600;
    color: #000;
}
.heading h6{
    color: #bababa;
    font-weight: 700;
    font-size: 0.80rem;
    display: inline;
}
.toggle{
    text-decoration: none;
    font-weight: 700;
    color: #000;
    font-size: 0.80rem;
    transition: 0.5s;
}
.toggle:hover{
    color: #1d62c2;
}
.inputbox{
    position: relative;
    height: 35px;
    margin-bottom: 2rem;
    margin-top: 10px;
}
.inputfield{
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    font-size: 0.95rem;
    color: #000;
    transition: 0.5s;
 
}

.lbl {
    position: absolute;
    left: 0;
    top: -10px;
    transform: translateY(-50%);
    font-size: 00.95rem;
    color: #bbb;
    transition: 0.5s;
}
.inputfield.active{
    border-bottom-color: #000;
}
.inputfield.active + .lbl{
    font-size: 0.75rem;
 
}
.signbtn{
    display: inline-block;
    width: 100%;
    height: 40px;
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 2rem;
    transition: 0.5s;
}
.signbtn:hover{
    background: #1d62c2;
}
.text{
    color: #bbb;
    font-size: 0.80rem;
    font-weight: 600;
}
.text a{
    color: #000;
    transition: 0.5s;
}
.text a:hover{
    color: #1d62c2;
}
main.sign-up-mode form.signin{
    opacity: 0;
    pointer-events: none;
}
main.sign-up-mode form.signup{
    opacity: 1;
    pointer-events: all;
}
main.sign-up-mode .forms{
    left: 55%;
}
main.sign-up-mode .carousel{
    left: 0;
}
.images_slide{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.image{
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    opacity: 0;
    transition: opacity 0.5s transform 0.7s;
}
.img1{
    transform: translate(0, -50px);
}
.img2{
    transform: scale(0.4, 0.5);
}
.img3{
    transform: scale(0.3) rotate(-20deg);
}
.image.show{
    opacity: 1;
    transform: none;
}
.textslide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text-wrap{
    max-height: 2rem;
    overflow: hidden;
    margin-bottom: 0.9rem;
}
.textgroup{
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(0);
    transition: 0.5s;
}
.textgroup h2{
    line-height: 2rem;
    font-weight: 600;
    font-size: 1.6rem;
}
.bullets{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bullets span{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background: #aaa;
    margin: 0 0.25rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}
.bullets span.active{
    width: 1.1rem;
    background: #000;
    border-radius: 1rem;
}

@media screen and (max-width: 760px) {
   
    .carousel {
        display: none;
    }
    main.sign-up-mode .forms {
        left: 0;
    }
    .forms {
        width: 100%;
    }
    .text {
        font-size: 8px !important;
    }
  }